.env

# OSX stuff
.DS_Store

# Windows image cache
Thumbs.db

# Python virtuaaliympäristö
.venv/
venv/
env/
__pycache__/
*.pyc

# Robot Framework testituotokset
outputs/output.xml
outputs/log.html
outputs/report.html

# Node
node_modules/

# VS Code
.vscode/
