# Database config
DB_HOST= # localhost
DB_USER= # Tietokannan käyttäjä
DB_PASSWORD= # Salasana käyttäjälle
DB_NAME= # Tietokannan nimi

# Test credentials
TEST_EMAIL=
TEST_PASSWORD=

# Token authentication
JWT_SECRET=
JWT_EXPIRES_IN=1h

# Kubios API config
KUBIOS_CLIENT_ID= # Kubios API avain
KUBIOS_LOGIN_URL=https://kubioscloud.auth.eu-west-1.amazoncognito.com/login
KUBIOS_REDIRECT_URI=https://analysis.kubioscloud.com/v1/portal/login
KUBIOS_API_URI=https://analysis.kubioscloud.com/v2
KUBIOS_USER_AGENT=TUES
